{% extends "base.html" %}
{% load static %}

 {% block title %}
      Warhammer Login
  {% endblock %}

{% block header %}

{% endblock header %}

{% block custom_style %}
    <link href="{% static 'css/login_style.css' %}" rel="stylesheet" >
{% endblock custom_style %}


 {% block body %}
  <body>
    <section class="Form my-4 mx-5">
      <div class="container">
        <div class="row g-0">
          <div class="col-lg-5">
            <img src="{% static LoginImage.path %}" class="img-fluid mt-5" alt="" />
          </div>
          <div class="col-lg-7 px-5 pt-1">
            <h1 class="font-weight-bold py-2">Warhammer</h1>
            <h3>Sign in or die!</h3>
            <form>
              <div class="form-row">
                <div class="col-lg-7">
                  <input
                    type="email"
                    placeholder="Email-adress"
                    class="form-control my-3 p-2"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <input
                    type="password"
                    placeholder="******"
                    class="form-control my-3 p-2"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-7">
                  <a type="button" href="{% url 'app:index' %}" class="btn1 mt-3 mb-3">
                    Login
                  </a>
                </div>
              </div>
              <a href="#">Forgot password</a>
              <p>Don't have an account? <a href="{% url 'app:register' %}">Register here</a></p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
{% endblock %}
