<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            WarHammer
        {% endblock %}
    </title>

    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" >
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" >

    {% block custom_style %}

    {% endblock custom_style %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

</head>
<body>
    {% block header %}
        <header>
      <nav
      class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark shadow"
    >
      <div class="container-fluid">
        <a class="navbar-brand text-warning" href="#">Warhammer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:index' %}">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:history' %}">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app:chapter' %}">Chapter</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'app:shop' %}">Shop</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="{% url 'app:selling' %}">Selling</a>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2 px-3"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-warning bg-dark" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    </header>
    {% endblock %}

    {% block body %}
    {% endblock %}
</body>
</html>